<?php

use Sami\Sami;
use Sami\RemoteRepository\GitHubRemoteRepository;
use Symfony\Component\Finder\Finder;

$iterator = Finder::create()
    ->files()
    ->name('*.php')
    ->in($dir = './src/')
;

return new Sami($iterator, array(
    'title'                => 'ESIClient API',
    'build_dir'            => './docs/',
    'cache_dir'            => './cache/',
    'remote_repository'    => new GitHubRemoteRepository('aGrimes94/esi', dirname($dir)),
    'default_opened_level' => 2,
));